.styles {
	font-family: 'Exo 2', sans-serif;
	text-align: center;
}
#color {
	background-color: green;
}

.expression, #addExpress{
	padding: 8px;
	margin: 10px;
	color: white;
	background-color: teal;
	border-radius: 10px;
}
.expression:hover, #addExpress:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
form {
	margin: 20px;
}